.selector-for-some-widget {
    box-sizing: content-box;
}

.bg-gradient-custom {
    background: #d6deff;
    background: -webkit-linear-gradient(to right, rgba(29,70,237,0.5), rgba(144,223,254,0.5));
    background: linear-gradient(to right, rgba(29,70,237,0.5), rgba(144,223,254,0.5))
}

body{
    background: #a1c4fd;
    background: -webkit-linear-gradient(to top, rgba(161,196,253,0.5), rgba(194,233,251,0.5));
    background: linear-gradient(to top, rgba(161,196,253,0.5), rgba(194,233,251,0.5))
}

form{
    max-width: 900px;
    margin: 100px auto 0;
    padding: 20px;
    box-shadow: 0 0 15px black;
}

.container{
    margin-top:30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title{
    padding-top: 30px;
}

h2{ 
    font-size:medium;
    margin-top: 20px;
    margin-bottom: 0;
}

input{
    margin: 10px auto 0;
}

.f-input{
width: 75%;
}

.f-select{
    width: 75%;
}

.form-control{
    width: 75%;
}

textarea{
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin-top: 10px;
}